
@property --NAVY_BLUE_MED {
  syntax: "<color>";
  inherits: false;
  initial-value: #2E5A88;
}

@property --NAVY_BLUE_LIGHT {
  syntax: "<color>";
  inherits: false;
  initial-value: #1974D2;
}

@property --NAVY_BLUE_LIGHT {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(15, 14, 32);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
}

body {
  width: 100%;
  min-width: 100%;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
}

#app {
  width: 100%;
}

@media (min-width: 1201px) {
  .global-side-padding {
    padding-left: 62px;
    padding-right: 62px;
  }
}

@media (max-width: 1200px) {
  .global-side-padding {
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media (max-width: 1000px) {
  .global-side-padding {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@media (max-width: 800px) {
  .global-side-padding {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 600px) {
  .global-side-padding {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.audio-player-wrapper {
  margin: 0px;
  display: flex;
}

.audio-player {
  width: 100%;
}

.audio-player-interface {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
}

.audio-player-buttons {
  padding: 0px; 
  display: flex;
  list-style-type: none;
}

/*AUDIO MOBILE MODE*/
@media (max-width: 764px) {

  .audio-player {
    border-top-style: solid;
    border-top-width: 2px;
  }

  .audio-player-interface {
    justify-content: space-between;
  }

  body {
    margin-bottom: 50px;
  }

  footer {
    bottom: 58px;
  }

  .audio-player-wrapper {
    right: 0px;
    position: fixed;
    z-index: 500;
    bottom: 0px;
    background: white;
    width: 100%;
  }

  .audio-player {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*AUDIO DESKTOP MODE*/
@media (min-width: 765px) {

  .audio-player-interface {
    justify-content: '';
  }

  body {
    margin-bottom: 0px;
  }

  footer {
    bottom: 0px;
  }

  .audio-player-wrapper {
    right: 0px;
    position: fixed;
    z-index: 4000;
    top: 0px;
  }

  .audio-player {
    padding: 0px,
  }
}

/* Galaxy Fold */
@media (max-width: 280px) {
  .header-name-logo {
    min-width: 200px;
    font-size: 15px;
  }

  .footer-content-wrapper-media-query {
    padding-top: 8px;
    padding-bottom: 10px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-name-logo {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
  }
}

/* iPhone 4 & 5 */
@media only screen and (min-width: 281px) and (max-width: 374px) {
  .header-name-logo {
    min-width: 240px;
    font-size: 19px;
  }

  .footer-content-wrapper-media-query {
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-name-logo {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
  }
}

/* iPhone 6, 7 & 8*/
@media only screen and (min-width: 375px) and (max-width: 399px) {
  .header-name-logo {
    min-width: 284px;
    font-size: 22px;
  }

  .footer-content-wrapper-media-query {
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-name-logo {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
  }
}

/* iPhone 14 */
@media only screen and (min-width: 400px) and (max-width: 559px) {
  .header-name-logo {
    min-width: 284px;
    font-size: 22px;
  }

  .footer-content-wrapper-media-query {
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-name-logo {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
  }
}

/* iPhone iPad & Desktop */
@media (min-width: 560px) {
  .header-name-logo {
    min-width: 320px;
    font-size: 25px;
  }

  .footer-content-wrapper-media-query {
    padding-top: 21px;
    padding-bottom: 21px;
    flex-direction: row;
  }

  .footer-lower-container-media-query {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-name-logo {
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
  }
}

footer {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.footer-body {
  border-top: 5px solid gray;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-lower-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-name-logo-name {
  color: white;
}
.footer-name-logo-medium {
  color: lightgray;
}

.footer-social-icons {
  padding-top: 10px;
  display: flex;
  color: white;
}

.footer-social-icon-link {
  padding-right: 20px;
}

.header-banner {
  padding-top: 20px;
  padding-bottom: 15px;
  top: 0px;
  display: flex;
  align-items: center;
  position: sticky;
  min-height: 70px;
  z-index: 100;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  align-items: center;
  list-style-type: none;
  font-family: Poppins;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.shop-modal {
  border: lightgray solid 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 300px;
  align-items: center;
  width: 560px;
}

@media ( max-width: 559) {
  .shop-modal {
    width: 360px;
  }

  .product-image-and-description-wrapper {
    text-align: center;
  }
  
  .product-image-and-description {
    flex-wrap: wrap-reverse;
  }
  
  .product-image-wrapper {
    padding-top: 20px;
  }
  
  .product-description-wrapper {
    padding-left: 0px;
  }
  
}

.product-image-and-description-wrapper {
  text-align: left; 
  display: flex;
  justify-content: center;
}

.product-image-wrapper {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.product-image {
  max-width: 140px;
}

.product-image-and-description {
  display: flex;
  max-width: 80%;
  cursor: pointer;
  flex-wrap: nowrap;
}


.product-price {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.product-description-wrapper {
  padding-left: 20px;
}

.product-name {
  color: NAVY_BLUE_MED;
  font-size: 20px;
  font-family: Mate, serif;
}

.product-buy-button {
  margin-top: 20px;
  width: 50%;
  color: white;
  background-color: NAVY_BLUE_MED;
  font-size: 15px;
  font-family: Gill Sans, sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.text-required {
  color: gray;
  font-size: 11px;
}

@keyframes fadeOutShrink {
  0% {
    /* opacity: 1; */
    opacity: .8;
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0%;
    width: 0%;
    opacity: 0;
  }
}

@keyframes fadeInGrow {
  0% {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
  100% {
    height: 100%;
    width: 100%;
    opacity: .8;
    /* opacity: 1; */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#fader {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  z-index: 999999;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  background: white;
  pointer-events: none;

}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}


/* .skeleton {
  overflow: hidden;
  height: 100px;
  border: 0px solid rgba(236, 236, 236, .5);;
  border-radius: 20px;
  margin-bottom: 30px;
}

.skeleton:empty {
  position: relative;
  background-color: rgba(236, 236, 236, .5);
} */

.skeleton.dark-mode:empty:before {
  background-image: linear-gradient(90deg, rgba(15, 14, 32, .1) 0px, rgba(255, 255, 255, 0.1) 100px, rgba(15, 14, 32, .1));
}

.skeleton:empty:before {
  content: '';
  background-image: linear-gradient(90deg, #eee 0px, rgba(255, 255, 255, 0.4) 100px, #eee 200px);
  position: absolute;
  background-repeat: repeat-x;
  left: -400px;
  width: 200px;
  height: 100%;
  animation: shine 2s infinite;
  transform: skewX(-45deg);
}

@keyframes shine {
  0% {
    left: -400px;
  }
  100% {
    left: 3000px;
  }
}

.event-listing {
  display: table-row;
  width: 100%;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}