
@property --NAVY_BLUE_MED {
  syntax: "<color>";
  inherits: false;
  initial-value: #2E5A88;
}

@property --NAVY_BLUE_LIGHT {
  syntax: "<color>";
  inherits: false;
  initial-value: #1974D2;
}

@property --NAVY_BLUE_LIGHT {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(15, 14, 32);
}

@property --DARK_MODE_BACKGROUND_COLOR {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(15, 14, 32);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
}

body {
  width: 100%;
  min-width: 100%;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
}

#app {
  width: 100%;
}


.dm-text-color {
  color: white;
}


@media (min-width: 1201px) {

  .hero-image-slideshow-wrapper {
    max-width: 1920px;
    margin-right: -62px;
    margin-left: -62px; /*get rid of both of these margin rules to bring the hero image back into line with main wrapper padding*/
  }


  .global-side-padding {
    padding-left: 62px;
    padding-right: 62px;
  }

  .side-padding-div {
    width: 0px;
  }
}

@media (max-width: 1200px) {

  .hero-image-slideshow-wrapper {
    max-width: 1920px;
    margin-right: -52px;
    margin-left: -52px; /*get rid of both of these margin rules to bring the hero image back into line with main wrapper padding*/
  }

  .global-side-padding {
    padding-left: 52px;
    padding-right: 52px;
  }

  .side-padding-div {
    width: 0px;
  }
}

@media (max-width: 1000px) {
  .hero-image-slideshow-wrapper {
    max-width: 1920px;
    margin-right: -42px;
    margin-left: -42px; /*get rid of both of these margin rules to bring the hero image back into line with main wrapper padding*/
  }


  .global-side-padding {
    padding-left: 42px;
    padding-right: 42px;
  }

  .side-padding-div {
    width: 0px;
  }
}

@media (max-width: 800px) {

  .hero-image-slideshow-wrapper {
    max-width: 1920px;
    margin-right: -32px;
    margin-left: -32px; /*get rid of both of these margin rules to bring the hero image back into line with main wrapper padding*/
  }

  .global-side-padding {
    padding-left: 32px;
    padding-right: 32px;
  }

  .side-padding-div {
    width: 0px;
  }
}

@media (max-width: 600px) {

  .hero-image-slideshow-wrapper {
    max-width: 1920px;
    margin-right: -22px;
    margin-left: -22px; /*get rid of both of these margin rules to bring the hero image back into line with main wrapper padding*/
  }

  .global-side-padding {
    padding-left: 22px;
    padding-right: 22px;
  }

  .side-padding-div {
    width: 22px;
    border-top: solid 1px rgb(128, 128, 128);
  }
}

.audio-player-wrapper {
  margin: 0px;
  display: flex;
}

.audio-player {
  width: 100%;
}

.audio-player-interface {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 32px;
}

.audio-player-buttons {
  padding: 0px; 
  display: flex;
  padding-left: 20px;
  list-style-type: none;
}

.section-header {
  font-family: "Montserrat", cursive;
  font-size: 25px;
}

/*AUDIO MOBILE MODE*/
@media (max-width: 764px) {

  .audio-player {
    border-top: solid 1px rgb(128, 128, 128);
  }

  .audio-player-interface {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
  }

  body {
    margin-bottom: 50px;
  }

  footer {
    bottom: 32px;
  }
  
  h2 {
    font-family: "Montserrat", cursive;
  }

  .audio-player-wrapper {
    right: 0px;
    height: 32px;
    position: fixed;
    z-index: 500;
    bottom: 0px;
    background: white;
    width: 100%;
  }

  .side-padding-div {
    width: 32px;
  }

  .audio-player {
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
  }
}

/*AUDIO DESKTOP MODE*/
@media (min-width: 765px) {

  .audio-player-interface {
    justify-content: '';
    line-height: 2;
    height: 32px;
  }

  body {
    margin-bottom: 0px;
  }

  footer {
    bottom: 0px;
  }

  .audio-player-wrapper {
    right: 30px;
    position: fixed;
    z-index: 500;
    top: 0px;
  }
  .audio-player {
    padding: 0px,
  }
}

/* Galaxy Fold */
@media (max-width: 280px) {
  .header-name-logo {
    min-width: 200px;
    font-size: 15px;
  }

  .footer-content-wrapper-media-query {
    padding-bottom: 10px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 10px;
    padding-right: 10px;
  }

}

/* iPhone 4 & 5 */
@media only screen and (min-width: 281px) and (max-width: 374px) {
  .header-name-logo {
    min-width: 240px;
    font-size: 19px;
  }

  .footer-content-wrapper-media-query {
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 40px;
    padding-right: 40px;
  }

}

/* iPhone 6, 7 & 8*/
@media only screen and (min-width: 375px) and (max-width: 399px) {
  .header-name-logo {
    min-width: 284px;
    font-size: 22px;
  }

  .footer-content-wrapper-media-query {
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 40px;
    padding-right: 40px;
  }

}

/* iPhone 14 */
@media only screen and (min-width: 400px) and (max-width: 559px) {
  .header-name-logo {
    min-width: 284px;
    font-size: 22px;
  }

  .footer-content-wrapper-media-query {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer-lower-container-media-query {
    padding-left: 40px;
    padding-right: 40px;
  }

}

/* iPhone iPad & Desktop */
@media (min-width: 560px) {
  .header-name-logo {
    min-width: 320px;
    font-size: 25px;
  }

  .footer-content-wrapper-media-query {
    padding-bottom: 15px;
    flex-direction: row;
  }

  .footer-lower-container-media-query {
    padding-left: 0px;
    padding-right: 40px;
  }

}

footer {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.footer-body {
  border-top: 5px solid gray;
}

.footer-content-wrapper {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
}

.footer-lower-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-social-icons {
  padding-top: 10px;
  display: flex;
  color: white;
}

.footer-social-icon-link {
  padding-right: 20px;
}

.header-banner {
  padding-top: 20px;
  padding-bottom: 15px;
  top: 0px;
  display: flex;
  align-items: center;
  position: sticky;
  min-height: 70px;
  z-index: 100;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  align-items: center;
  list-style-type: none;
  font-family: Poppins;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.shop-modal {
  border: lightgray solid 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 300px;
  align-items: center;
  width: 560px;
}

@media ( max-width: 559) {
  .shop-modal {
    width: 360px;
  }

  .product-image-and-description-wrapper {
    text-align: center;
  }
  
  .product-image-and-description {
    flex-wrap: wrap-reverse;
  }
  
  .product-image-wrapper {
    padding-top: 20px;
  }
  
  .product-description-wrapper {
    padding-left: 0px;
  }
  
}

.product-image-and-description-wrapper {
  text-align: left; 
  display: flex;
  justify-content: center;
}

.product-image-wrapper {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.product-image {
  max-width: 140px;
}

.product-image-and-description {
  display: flex;
  max-width: 80%;
  cursor: pointer;
  flex-wrap: nowrap;
}


.product-price {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.product-description-wrapper {
  padding-left: 20px;
}

.product-name {
  color: NAVY_BLUE_MED;
  font-size: 20px;
  font-family: Mate, serif;
}

.product-buy-button {
  margin-top: 20px;
  width: 50%;
  color: white;
  background-color: NAVY_BLUE_MED;
  font-size: 15px;
  font-family: Gill Sans, sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.text-required {
  color: gray;
  font-size: 11px;
}

@keyframes fadeOutShrink {
  0% {
    /* opacity: 1; */
    opacity: .8;
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0%;
    width: 0%;
    opacity: 0;
  }
}

@keyframes fadeInGrow {
  0% {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
  100% {
    height: 100%;
    width: 100%;
    opacity: .8;
    /* opacity: 1; */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#fader {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  z-index: 999999;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  background: white;
  pointer-events: none;

}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}


/* .skeleton {
  overflow: hidden;
  height: 100px;
  border: 0px solid rgba(236, 236, 236, .5);;
  border-radius: 20px;
  margin-bottom: 30px;
}

.skeleton:empty {
  position: relative;
  background-color: rgba(236, 236, 236, .5);
} */

.skeleton.dark-mode:empty:before {
  background-image: linear-gradient(90deg, rgba(15, 14, 32, .1) 0px, rgba(255, 255, 255, 0.1) 100px, rgba(15, 14, 32, .1));
}

.skeleton:empty:before {
  content: '';
  background-image: linear-gradient(90deg, #eee 0px, rgba(255, 255, 255, 0.4) 100px, #eee 200px);
  position: absolute;
  background-repeat: repeat-x;
  left: -400px;
  width: 200px;
  height: 100%;
  animation: shine 2s infinite;
  transform: skewX(-45deg);
}

@keyframes shine {
  0% {
    left: -400px;
  }
  100% {
    left: 3000px;
  }
}

.event-listing {
  display: table-row;
  width: 100%;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(6vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


/* DARK MODE */

.dm-toggler-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  vertical-align: center;
}

.dm-toggler-title {
  text-align: center;
  font-size: 10px;
  color: white;
}

.dm-toggler-bg {
  min-height: 20px;
  max-height: 20px;
  min-width: 40px;
  max-width: 40px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
}

.dm-toggler-btn {
  background-color: white;  
  border: 1px solid black;
  min-height: 15px;
  max-height: 15px;
  min-width: 15px;
  max-width: 15px;
  position: absolute;
  top: 2px;
  border-radius: 50%;
  transition: left .1s;
}

.dm-toggler-btn-isdm {
  left: 22px;
}
.dm-toggler-btn-notdm {
  left: 2px;
}


.is-dm {
  background-color: var(--NAVY_BLUE_MED);
}

.not-dm {
  background-color: silver;
}

/* MAIN WRAPPER */

.main-wrapper {
  padding-top: 2px;
  padding-bottom: 150px;
  font-size: 13px;
}

.main-wrapper-isdm {
  background-color: var(--DARK_MODE_BACKGROUND_COLOR);
  color: white;
}
.main-wrapper-notdm {
  background-color: white;
  color: black;
}




.modal-background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, .7);
  z-index: 900;
}

.modal-inner-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  z-index: 1000;
}


.photos-modal {
  border-radius: .5px;
  border: white solid 2px;
  display: flex;
  flex-direction: column;
}

.photos-carousel {
  display: relative;
}

.photos-carousel-img {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  padding: .5px;
}

.photos-carousel-img-credit {
  font-size: 11px;
  position: absolute;
  left: 0px;
}


.hero-image-slideshow-ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
  padding-bottom: 20px;
  margin: 0px;
  position: relative;
}

.hero-image-slideshow-li {
  margin: 0px;
  padding: 0px;
}

.hero-image-slideshow-img {
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
}


.hero-image-slideshow-img-first {
  z-index: 5;
}

.hero-image-slideshow-img-visible {
  z-index: 4;
}

.hero-image-slideshow-img-hidden {
  z-index: 0;
}

.hero-image-slideshow-img-animate {
  animation: fadeIn 1s linear;
}

.hero-image-slideshow-img-isdm {
  /* border-bottom: .2px solid darkgray; */
  /* border-top: .2px solid darkgray; */
}




.video-thumbnail-wrapper {
  animation: fadeIn 1s linear;
}

.video-thumbnail-img-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}

.video-thumbnail-img-wrapper-isdm {
  border: solid .5px darkgray;
}

.video-thumbnail-img {
  max-width: 100%;
  aspect-ratio: 2 / 1.5;
  position: relative;
}

.video-thumbnail-img-overlay {
  position: absolute;
  margin: auto;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  top: 50%;
  left: 50%;
  animation: fadeIn 1s linear;
}

.video-thumbnail-caption {
  /* font-family: "Mate, serif"; */
  font-family: "Montserrat", cursive;
  /* font-family: 'Poppins', 'sans-serif'; */
  font-weight: 900px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.video-thumbnail-caption-isdm {
  color: silver;
}
.video-thumbnail-caption-notdm {
  color: var(--NAVY_BLUE_MED);
}


.media-grid {
  display: flex;
  flex-direction: row;
}

.media-links-ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  justify-content: center;
}

.media-links-li {
  padding-right: 20px;
  font-size: 15px;
}

/*MEDIA PHOTOS*/

.media-photos-wrapper {
  width: 100%;
  animation: fadeIn .5s linear;
}
.media-photos-ul-wrapper {
  max-width: 1156;
  margin-right: auto;
  margin-left: auto;
}

.media-photos-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}

@media (min-width: 770px) {
  .media-photos-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0px;
    width: 100%;
  }
}

.media-photos-li {
  width: 100%;
  display: inline-block;
  max-width: 90%;
  padding-bottom: 45px;
}


/*MEDIA VIDEOS*/

.media-videos-wrapper {
  width: 100%;
  animation: fadeIn .5s linear;
}

.media-videos-ul {
  display: grid;
  list-style-type: none;
  padding: 0px;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 770px) {
  .media-videos-ul {
    display: grid;
    list-style-type: none;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.media-videos-li {
  padding: 10;
}






.email-success-error-msg {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
}

.contact-form-full-name {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 20px;
}

.contact-form-firstname-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.contact-form-lastname-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-email-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form-text-input {
  padding: 10px;
  background-color: #F8F8FF;
  border: solid gray 1px;
}

.contact-form-message-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-message-textarea {
  height: 150px;
  background-color: #F8F8FF;
  border: solid gray 1px;
  font-family: Gill Sans, sans-serif;
  font-size: 15px;
}

.contact-form-submit-btn {
  margin-top: 20px;
  min-width: 250px;
  width: 50%;
  color: white;
  font-size: 15px;
  font-family: Gill Sans, sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contact-form-submit-btn-isdm { background-color: gray; }
.contact-form-submit-btn-notdm { background-color: var(--NAVY_BLUE_MED); }

@media (min-width: 600px) {
  .contact-form-full-name {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 20px;
  }

  .contact-form-firstname-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
  }

}

.email-confirmation-modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255, .7);
  z-index: 900;
  animation: fadeIn 1s;
}

.email-confirmation-modal-inner-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  z-index: 1000;
  animation: fadeIn 1s;
}

.email-confirmation-modal-inner-window-background {
  background: white;
  opacity: 1;
  padding: 20px;
  border: lightgray solid 1px;
  max-width: 400px;
}

.back-btn-wrapper {
  text-align: center;
}

.back-btn {
  margin-top: 20px;
  min-width: 250px;
  width: 50%;
  color: white;
  background-color: #191970;
  font-size: 15px;
  font-family: Gill Sans, sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
}



/*CALENDAR*/

.calendar-wrapper {
  display: flex;
  flex-direction: column;
}

.calendar-entry-content {

}


.header-logo-font {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}



@keyframes marquee {
  0% {
    /* margin-left: 100%;
    width: 300%; */
    transform: translate(0, 0);
  }
  100% {
    /* margin-left: -100%;
    width: 100%; */
    transform: translate(-100%, 0);
  }
}

.marquee-left-border {
  z-Index: 5000;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 100;
  height: 31px;
}

.not-dm-side-padding-div {
  background-color: white;
}

.is-dm-side-padding-div {
  background-color: var(--DARK_MODE_BACKGROUND_COLOR);
}